.TitlePage {
    padding: 2rem;
  }
  
  .cardContainer {
    padding: 1rem;
  }
  
  .cardContent {
    padding: 1rem;
  }
  
  #imgKegiatan {
    width: 120px;
    border: 5px solid #ffffff;
    box-shadow: 0px 19px 16px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  }
  
  .leftContent {
    padding: 0.7rem;
  }
  
  .buttonKegiatan {
    padding-top: 14px;
  }
  
  .leftContent h4 {
    color: white;
  }
  
  .buttonCard {
    align-items: center;
    background-color: #AFF8C8;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #000000;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    width: 150px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .buttonCard:hover,
  .buttonCard:focus {
    background-color: #1a8179;
    color: #ffffff;
  }
  
  .buttonCard:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }
  
  .buttonCard:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }
  